@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1 {
	font-family: Open Sans, sans-serif;
	font-size: 36px;
	text-align: center;
}

nav a {
	font: , sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: white;
	background-color: black;
	display: inline-block;
}

p {
	font: Georgia, serif;
	font-size: 1.33em;
}