@import url(http://fonts.googleapis.com/css?family=PT+Sans);

#wrapper {
	width: 80%;
	margin: auto;
}

h1 {
	font-family: PT Sans, sans-serif;
	font-size: 36px;
	text-align: center;
}

#nav {
	background-color: black;
	height: 10%;
	width: 100%;
}

nav a {
	font-family: PT Sans, sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: white;
	background-color: black;
	display: inline-block;
	text-align: center;
	padding: 1em;
	width: auto;
}

img {
	float: right;
	padding-top: 2em;
	padding-bottom: 2em;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

p {
	font: Georgia, serif;
	font-size: 2em;
	float: left;
}

#action a {
	font-family: Georgia, serif;
	color: white;
	background-color: black;
	display: block;
	padding: 1em;
	width: 11%;
	text-decoration: none;
}