@import url(http://fonts.googleapis.com/css?family=PT+Sans);

#wrapper {
	width: 80%;
	margin: auto;
}

#header-cont {
	width: 80%;
	position: fixed;
	top: 0px;
	background-color: white;
}

h1 {
	font-family: PT Sans, sans-serif;
	font-size: 36px;
	text-align: center;
	background-color: white;
}

nav {
	text-align: center;
	background-color: white;
	width: 40%;
}

nav a {
	font-family: PT Sans, sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: black;
	background-color: white;
	text-align: center;
	float: left;
	padding-bottom: 1.5em;
}

nav a:hover {
	color: #808080;
}

body {
	font-size: 16px;
	height: 1700px;
}

p {
	font: Georgia, serif;
	font-size: 2.2em;
	/*float: left;*/
}

#image-bg {
	background-image: url("../images/underwear.jpg");
	background-repeat: no-repeat;
	padding-top: 0em;
	margin-top: 0em;
}

#top {
	padding-bottom: 1.5em;
}

#what {
	font-size: 1em;
	margin-left: 5em;
	color: white;
}

#to {
	font-size: 2.1em;
	margin-left: 3em;
	color: white;
}

#wear {
	font-size: 2.1em;
	margin-left: 2.6em;
	color: white;
}

img {
	margin: 4em 0em 0em 10em;
	float: left;
}

#head {
	/*background-color: yellow;*/
	text-align: center;
	/*margin: 4em 0em 0em 5em;*/
	margin-right: 5em;
	margin-top: 4em;
}

#dress {
	font-size: 2.1em;
}

#work {
	font-size: 2.1em;
	margin-left: 2em;
}

#bullets {
	font: Georgia, serif;
	font-size: 2.2em;
	margin-left: 12em;
	padding-left: 10em;
	width: 30%;
}

footer {
	display: block;
	padding-top: 8em;
	padding-bottom: 6em;
	/*padding: 2em 0 10em 0;*/
	/*margin-left: 40%;*/
	/*width: 80%;*/
}

footer a {
	font-family: PT Sans, sans-serif;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	text-align: center;
}

#phone {
	padding: 4em;
	margin-left: 29em;
}

footer a:hover {
	color: #808080;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

@media only screen and (min-width: 768px) {
	/*#wrapper {
		width: 60%;
		margin: auto;
	}*/

	nav {
		margin-left: 37%;
	}


	nav a {
		width: 20%;
	}


	#image-bg {
		background-position: center;
		padding-top: 25em;
		margin-top: 8em;
	}

	#action {
		margin-right: 2em;
		padding: .8em .1em;
	}
}