body {
	color: #424242;
	text-transform: lowercase;
	font-variant: small-caps;
}

img {
	max-width: 40%;
	max-height: 40%;
}

h1 {
	font-family: 'Poiret One', cursive, sans-serif;
	text-align: left;
	font-weight: bold;
	font-size: 60pt;
	margin-left: 5em;
}

#slogan {
	font-family: Georgia, Garamond, Times, serif;
	font-style: italic;
}

#summary {
	font-family: Georgia, Garamond, Times, serif;
	text-align: left;
	margin: 10em;
}

p {
	font-family: Georgia, Garamond, Times, serif;
	margin: 2em;
}