body {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	text-transform: lowercase;
	font-variant: small-caps;
}

img {
	max-width: 50%;
	max-height: 50%:;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
}

h2 {
	font-style: italic;
}

#slogan {
	font-style: italic;
}

#summary {
	text-align: center;
}