#wrapper {
	width: 960px;
	margin: auto;
}

#watermark {
	/*line-height: 120%;*/
}

#zoe {
	font-family: Georgia, serif;
	font-size: 72px;
	font-weight: bold;
	padding-bottom: 4px;
}

#babian {
	font-family: Georgia, serif;
	font-size: 37px;
	font-weight: bold;
	padding-bottom: 4px; 
}

#photography {
	font-family: Georgia, serif;
	font-size: 18px;
	font-weight: bold;
}

nav {
	font-family: Georgia, serif;
	font-size: 20px;
	display: block;
	float: right;
}

.nav {
	padding: 0 2em 0 2em;
}

img {
	display: block;
	float: left;
	width: 29%;
	padding: 2% 2%;

}

.blog {
	float: left;
	width: 29%;
	margin-right: 4%;
}

.clearfix {
	overflow: auto;
}

h4 {
	font-family: sans-serif;
	font-size: 20px;
}

p {
	font-family: Georgia, serif;
	font-size: 14px;
}

footer {
	font-family: Georgia, serif;
	font-size: 20px;
	display: block;
	padding-left: 5em; 
	padding-right: 5em;
	float: left;
}