#wrapper{
	width: 960px;
	margin: auto;
}

#watermark{
	line-height: 2px;
}

#zoe{
	font-family: Georgia, serif;
	font-size: 72px;
	font-weight: bold;
}

#babian{
	font-family: Georgia, serif;
	font-size: 37px;
	font-weight: bold;
	font-variant: small-caps;
}

#photography{
	font-family: Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	font-variant: small-caps;
}

nav{
	font-family: Georgia, serif;
	font-size: 20px;
}

h4{
	font-family: sans-serif;
	font-size: 20px;
}

p{
	font-family: Georgia, serif;
	font-size: 14px;
}

footer{
	font-family: Georgia, serif;
	font-size: 20px;
}