#wrapper {
	width: 960px;
	margin: auto;
	padding-top: 60px;
	background-color: #EEE9E9;
}

#watermark {
	line-height: 144%;
	padding-left: 60px;
}

#zoe {
	font-family: Georgia, serif;
	font-size: 72px;
	font-weight: bold;
	padding-top: 2em
}

#babian {
	font-family: Georgia, serif;
	font-size: 37px;
	font-weight: bold;
}

#photography {
	font-family: Georgia, serif;
	font-size: 18px;
	font-weight: bold;
}

nav {
	font-family: Georgia, serif;
	font-size: 20px;
	text-decoration: none;
	display: block;
	float: right;
}

a {
	text-decoration: none;
}

.nav {
	padding: 3em 4em 0 4em;
	text-decoration: none;
}

.landing {
	display: block;
	float: left;
	width: 29.33%;
	padding: 2% 2%;

}


.blog {
	float: left;
	width: 29%;
	margin-right: 4%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

h4 {
	font-family: sans-serif;
	font-size: 30px;
	padding-left: 30px;
}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	padding-left: 10%;
}

footer {
	font-family: Georgia, serif;
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 2em 0 10em 0;
	background-color: #CDC9C9;
}